.ml30{
      margin-left: 30px !important;
}
.mr0{
  margin-bottom: 0px !important;
}
.mb10{
  margin-bottom: 10px !important;
}
.ml10{
  margin-left: 10px !important;
}
.textright{
  text-align: left !important;
}

/* iframe full */
.objectfull{
  width: 100% !important;
  height: 100% !important;
}
/* switch style */

.form-switch {
  display: block;
  margin-bottom: 8px;
  position: relative;
  /* display: flex; */
  align-items: center;
}
.form-switch > .field {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.form-switch > .toggle {
  flex: 0 0 64px;
  display: inline-block;
  background-color: #DAE4EC;
  width: 64px;
  height: 25px;
  vertical-align: middle;
  border-radius: 20px;
  border: 4px solid #DAE4EC;
  margin-right: 8px;
  transition: all 0.6s;
  cursor: pointer;

  float: right;
  position: relative;
}
.form-switch > .toggle:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  transition: margin 0.3s;
}
.form-switch .field:checked + .toggle:before {
  margin-left: 40px;
}
.form-switch .field:checked + .toggle {
  border-color: #FFC107;
  background-color: #FFC107;
}
