#tabs .mdi{
  font-size: 30px;
  line-height: 0px;
  margin-top: 16px !important;
}
#tabs a{
  color: #74777b;
  background: rgba(40,44,42,0.05);
  height: 100%;
  border-right: 1px solid white;
}
#tabs li.tab-current a, #tabs li.tab-current:last-child a{
  border-right: 1px solid #2cc185;
}
#tabs li:last-child a{
  border-right: none;
}
#tabs a:focus, #tabs a:hover{
  color: #2CC185;
  background: rgb(254, 255, 254);
}
#tabs a span{
  font-size: 1em;
  line-height: 0px;
}
.alement{
  height: 79.125px;
  display: grid !important;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
a.text {
	color: #2CC185;
	text-decoration: none;
	outline: none;
}

a.text:hover, a.text:focus {
	color: #74777b !important;
}

.tabs-style-underline nav a {
	padding: 0.25em 0 0.5em;
	border-left: 1px solid #e7ecea;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-underline nav li:last-child a {
	border-right: 1px solid #e7ecea;
}

.tabs-style-underline nav li a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: #2CC185;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,-6px,0);
}

.tabs-style-underline nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-underline nav a span {
	font-weight: 700;
}

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.tabs nav ul li:noT(.tab-current) {
  border-bottom: 1px solid #2cc185;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	/* color: #74777b; */
  background: white !important;
  border-left: 1px solid #2cc185;
  border-right: 1px solid #2cc185;
  color: #2cc185 !important;
}

.tabs nav a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
  background: white;
  border: 1px solid #2cc185;
}

.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}
